<form class="flight-form" [formGroup]="flightFormControl" *ngIf="flightFormControl">

    <div class="header-section">
        <p>Create Form</p>
        <img class="exit" src="../../assets/icons/exit.svg" alt="exit-icon">
    </div>

    <div class="input-section">

        <mat-form-field class="form-field" *ngFor="let item of flightFormFields">

            <mat-label>{{transformInputPlaceholder(item.key)}}</mat-label>
            <input id="{{item.key}}" type="text" matInput [formControlName]="item.key"
                [placeholder]="transformInputPlaceholder(item.key)">

            <mat-error>Please enter flight number!</mat-error>
        </mat-form-field>

    </div>

    <div class="button-section">
        <button (click)="submitForm()" class="submit-button">Create</button>
    </div>
</form>