<div class="search-bar-container">
    <div class="flight-number-search">
        <mat-form-field class="flight-number-field">
            <input matInput placeholder="Flight Number" (input)="handleFlightNumberInput()" [(ngModel)]="flightNumberInput">
        </mat-form-field>
    </div>

    <div class="dropdown-section">
        <mat-form-field class="form-field landing-airport">
            <mat-label>Landing Airport</mat-label>
            <select matNativeControl>
                <option>-</option>
                <option *ngFor="let item of AirportList" [value]="item" (click)="sendLandingAirport.emit(item)">{{item}}</option>
            </select>
        </mat-form-field>

        <mat-form-field class="form-field takeoff-airport">
            <mat-label>Takeoff Airport</mat-label>
            <select matNativeControl>
                <option>-</option>
                <option *ngFor="let item of AirportList" [value]="item" (click)="sendTakeoffAirport.emit(item)">{{item}}</option>
            </select>
        </mat-form-field>

    </div>
</div>