@import '../../styles.scss';

.flight-container{

    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px $mainColor;

    width: 100%;
    border-radius: 10px;
    height: 80px;
    box-shadow: 0px 0px 8px 3px #00000030;

    user-select: none;
    transition: 0.3s;

    p{
        font-size: 20px;
    }

    .flight-time-section{
        display: flex;
        align-items: center;
        justify-content: center;

        .airplane-icon{
            margin: 0 30px;
        }
    }

    .airport-section{

        display: flex;
        align-items: center;
        justify-content: center;

        .airport-box{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;

            .airport-name{
                margin-right: 15px;
            }

        }
    }

    .status-name{
        font-weight: bold;
    }
}

.flight-container:hover{
    background-color: darken($color: white, $amount: 5);
}