/* You can add global styles to this file, and also import other style files */
$mainColor: #2B4452;

html{
    font-family:Arial, Helvetica, sans-serif;

    p{
        margin: 0;
        color: $mainColor;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-container {
    position: fixed;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
}